<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="javascript.void(0)">managevent</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript.void(0)"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="javascript.void(0)"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
        <li style="margin-left:750px"><a href="/login" (click)="logout()"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="header-top">
  <div class="container">
    <h1 class="header-text">Welcome {{userName}}</h1>
  </div>
</div><br/>
<div class="container">
  <div class="jumbotron">
    <h1>See Open Events</h1>
    <p class="lead">This platform allows you to see how event organizers can manage events logistics online through managevent whose functionalities
      includes event tracking, attendee communication, registration info capture and much more.</p>
  </div>
</div>
<div class="list-group">
  <div class="eventList">
    <div *ngFor="let eve of events">
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1">{{eve.title}}</h4>
          <small style="float:right">{{eve.dateOfEvent}}</small>
        </div>
        <p class="mb-1">{{eve.description}}</p>
        <small>Location: {{eve.location}}</small>
      </a>
    </div>
  </div>
</div>